*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html, body{
    height: 100%;
}
body{
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    background: linear-gradient(to right, #667eea, #764ba2);
}
.main-div{
    background-color:paleturquoise;
    padding: 25px;
    width:300px;
    border-radius: 12px;
    text-align: center;
    box-shadow:0 10px 25px rgba(0,0,0,0.2) ;
}
.main-div input{
     width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid #ccc;
    outline: none;
}
.main-div button{
    font-size:16px;
    width:35px;
    height:35px;
    background-color: darkslategray;
    border-radius: 7px;
    border: none;
    color: white;
    gap: 8px;
    cursor: pointer;
    transition: 0.3s;
}
.main-div button:hover{
    color:black;
}
h2 {
    margin-top: 15px;
    color: #333;
}

#result {
    color: #764ba2;
    font-weight: bold;
}